<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login Page</title>
</head>
<body>
<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
  <h2>User Login</h2>
  <input type="text" id="loginUsername" placeholder="Username" formControlName="username" required>
  <br>
  <input type="password" id="loginPassword" placeholder="Password" formControlName="password" required>
  <br>

  <button type="submit">Login</button>
  <a href="registration.html" class="register-link">Don't have an account? Register here</a>
</form>
</body>
</html>
