<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login Page</title>
</head>
<body>
<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
  <h2>User Login</h2>
  <input type="text" id="loginUsername" placeholder="Username" formControlName="username" required>
  <br>
  <input type="password" id="loginPassword" placeholder="Password" formControlName="password" required>
  <br>

  <button type="submit">Login</button>
  <a   class="register-link" >Don't have an account? Register here</a>

</form>
<button type="submit" (click)="handleTestLoggedIn()">Test Logged In</button>

<!--<button (click)="DynamicRouter('student')">Move</button>-->
<!--<button (click)="DynamicRouter('create')" >Move</button>-->
<button routerLink="/create"  >Move</button>
<a routerLink="/create" class="register-link" >Change the state</a>
<router-outlet></router-outlet>
</body>
</html>
